{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="myhead1">Contact Us</h1>
<hr>
<div class="row">
    <div class="col-sm-4">
        <p><strong>Address:</strong>Khapri, Dhamdha road, Bhilai, Durg, Chhattisgarh 491001</p>
        <p><strong>Phone:</strong>0788 261 3211</p>
        <p><strong>Affiliation:</strong>Chhattisgarh Swami Vivekanand Technical University</p>
        <p><strong>Principal:</strong> Dr. Deepak Sharma</p>
        <p><strong>Founded:</strong>1999</p>
    </div>
<div class="col-sm-8">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src=https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14875.22922577144!2d81.3033922!3d21.2394884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8591904c3892c223!2sShri+Shankaracharya+Institute+of+Engineering+%26+Technology+Bhilai!5e0!3m2!1sen!2sin!4v1530171018957" frameborder="0" style="..." allowfullscreen></iframe>"
    </div>
</div>
</div>
{% endblock %}